<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <!-- Topper (barra superior) -->
    <div class="topper">
        <p>Este é um exemplo de escala gerada para {{ mes }} de {{ ano }}.</p>
    </div>
    </br>
    <div class="container">
        {% for dia in dias_uteis %}
            <div class="box">
                <p>Dia: {{ dia['month_day'] }} - {{ dia['weekday'] }}</p>
                <p>Qtd de pessoas: {{ dia['required_people'] }}</p>
                {% for person in dia['people'] %}
                    <p>{{ person }}</br></p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="container">
        {% for tipo in funcoes %}
        <div class="box">
            <p>{{tipo}}</p>
            {% for dict_pessoa in funcoes[tipo] %}
            <p>----------------------------------</p>
            <p>Nome: {{ dict_pessoa.get('name') }} </p>
            {% if dict_pessoa.get('type_instrumental',None) %}
                <p>Tipo de instrumento: {{ dict_pessoa.get('type_instrumental')}} </p>
            {% else %}
                <p>Tipo de voz: {{ dict_pessoa.get('type_vocal')}} </p>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="msg">
        {{ msg }}
    </div>
    </br>
</body>
</html>
